:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

#container {
    max-width: 60%;
    height: 60rem;
    border: 1px solid black;
    margin: auto;
    margin-top: 10rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem
}

#projects-container {
    position: relative;
    grid-column: 1;
    padding: 1rem;
    border: 1px solid black;
}

#projects>div {
    background-color: rgb(206, 206, 206);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

#projects>div>.projectRemove {
    display: none;
}

#projects>div:hover .projectRemove {
    display: block;
}

.main {
    position: relative;
    grid-column: 2;
    padding: 1rem;
    border: 1px solid black;
}

.header {
    background-color: rgb(206, 206, 206);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 1rem;
    display: grid;
    grid-template: 2fr 1fr / 2fr 1fr;
}

.header>.title {
    font-size: 2rem;
    font-weight: 600;
}

.header>.dueDate {
    justify-self: end;
}

.header>.dueDate::before {
    content: "Until:";
}

.header>.edit {
    justify-self: end;
}

.default>.notes,
.default>.dueDate,
.header.default>.edit {
    display: none;
}

.task {
    margin-left: 2rem;
    background-color: rgb(206, 206, 206);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 1rem;
    display: grid;
    grid-template: min-content 1fr / 2fr max-content min-content;
    column-gap: 1rem;
}

.task>.description {
    font-size: 2rem;
    font-weight: 600;
    grid-row: 1;
    grid-column: 1;
}

input::placeholder {
    color: black;
}

.editable input::placeholder {
    color: grey;
}

input:read-only {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

input:read-only:focus {
    outline: none;
}

input:read-write {
    color: grey;
}

.task>.notes {
    grid-row: 2;
    grid-column: 1;
    padding-top: 1rem;
}

.task>.isDone {
    grid-row: 1;
    grid-column: 4;
    place-self: start center;
}

.task>.priority {
    grid-row: 2;
    grid-column: 4;
    place-self: end center;
}

.task>.edit {
    grid-row: 2;
    grid-column: 3;
    place-self: end center;
}

.task>.isDone,
.task>.priority,
.task>.notes,
.task>.edit {
    display: none;
}

.task:hover .isDone,
.task:hover .priority,
.task:hover .notes,
.task:hover .edit {
    display: block;
}

.task.active .isDone,
.task.active .priority,
.task.active .notes,
.task.active .edit {
    display: block;
}

.task-wrapper {
    max-height: 40rem;
    overflow: auto;
}

.add-main,
.add-project {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.button:hover {
    transform: scale(1.2);
}